h1{
     /* color:red; */
     color:aqua;
     /* color:rgb(255,0,0); */
     /* color: rgb(0,255,0); */
     /* color: rgb(0,0,255); */
     color :rgb(255,0,100);
     /* Hex Code(color Picker) */
     color : #ffa53d;
     /*0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f */
     color : #d32b2b;
     color : #99df0e;
     color : #211c9d;
     color : #59dd0700;
     color : #cdcdcd;
     color : #ff00ff;
    
     background-color: aqua;

}